STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

CONTRACT_ID=CBLO3GRWKVJBYKL5GGD2WUY2VWORDXUP4HCS4SM32RYYOHZVWT3DIVP4

DEPLOYER_PUBLIC_KEY=your_public_key
DEPLOYER_SECRET_KEY=your_secret_key

AGENT_PUBLIC_KEY=your_agent_public_key
AGENT_SECRET_KEY=your_agent_secret_key

X402_TOOL_URL=https://xlm402.com
BACKEND_URL=http://localhost:3001
POLL_INTERVAL_SECS=10